<footer class="bg-dark">
    <div class="row row-cols-12 row-cols-lg-4 links">
        <div class="col">
            <ul>
                <li>Get the App</li>
                <li>AboutUs</li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li>Help and Support</li>
                <li>Terms</li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li>Privacy And policy</li>
                <li>Sitemap</li>
                <li>Accesibility Statement</li>
            </ul>
        </div>
        <div class="col">
            <button class="btn mx-auto"><i class="bi bi-globe"></i> English</button>
        </div>
    </div>
    <div class="ms-4 me-4 d-flex justify-content-between">
        <div>
            <img src="../../assets/logo-ub-inverted.svg"  width="200px" >
        </div>
        <div>
            <p >2022, Udemy.Inc</p>
        </div>
    </div>    
</footer>