footer{
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 2rem;
    color: white;

}
ul{
    list-style-type: none;
}
.links{
    padding-top: 2rem;
    margin-bottom: 3rem;
}
.btn{
    border: 1.5px solid white;
    color: white;
    border-radius: 0;
}