<div class="top-pick mb-3">
    <h2 class="mb-2 fw-bold">Our top pick for you</h2>
    <div class="card">
        <div class="row p-4">
            <div class="col-lg-5">
                <img src='../../assets/angular-placeholder.png' class="w-100">
            </div>
            <div class="col-lg-5">
                <div class="card-body ms-4">
                    <div class="card-title fw-bold fs-4">Entity Framework in Depth: The Complete Guide</div>
                    <p class="card-text">Connect your Application to a SQL Server</p>
                    <p class="fw-light">By Author</p>
                    <p class="fw-light"><span class="text-success">Updated <span class="fw-bold"> August</span>.</span>Intermediate</p>
                </div>
            </div>
        </div>
    </div>
</div>