<div class="my-courses mt-4">
    <div class="h1">Let's start learning, Ajal Krishna</div>
    <!-- <carousel>
        <slide>
            <div class="row row-cols-1 row-cols-lg-3 row-cols-md-1 mt-3 mb-5 g-2">
                <div class="col">
                    <app-video></app-video>
                </div>
                <div class="col">
                    <app-video></app-video>
                </div>
                <div class="col">
                    <app-video></app-video>
                </div>
            </div>
        </slide>
        <slide>
            <div class="row row-cols-1 row-cols-lg-3 row-cols-md-1 mt-3 mb-5 g-2">
                <div class="col">
                    <app-video></app-video>
                </div>
                <div class="col">
                    <app-video></app-video>
                </div>
                <div class="col">
                    <app-video></app-video>
                </div>
            </div>
        </slide>
        <slide>
            <div class="row row-cols-1 row-cols-lg-3 row-cols-md-1 mt-3 mb-5 g-2">
                <div class="col">
                    <app-video></app-video>
                </div>
                <div class="col">
                    <app-video></app-video>
                </div>
                <div class="col">
                    <app-video></app-video>
                </div>
            </div>
        </slide>
    </carousel> -->
    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-1 mt-3 mb-5 g-2">
        <div class="col">
            <app-video></app-video>
        </div>
        <div class="col">
            <app-video></app-video>
        </div>
        <div class="col">
            <app-video></app-video>
        </div>
    </div>
</div>