.card p{
    margin: 0;
    padding: 0;
}
.card-title{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.author{
    font-weight: lighter;
}
.rating{
    color: rgb(230, 64, 4);
    font-weight: bold;
}