<div class="h1 fw-bold">What to learn next</div>
<!-- lecture -->
<app-lecture></app-lecture>
<!-- top course -->
<!-- slider1 -->
<div class="sliderOne mt-4">
    <app-top-course [sliderData]="sliderOneData">
        <h3>Because you viewed “<span class="text-primary">The Complete Angular Course: Beginner to Advanced</span> ”
        </h3>
    </app-top-course>
</div>
<!-- slider 2 -->
<div class="sliderTwo">
    <app-top-course [sliderData]="sliderOneData">
        <h3>Featured courses in <span class="text-primary">Web Development</span> </h3>
    </app-top-course>
</div>
<!-- slider 3 -->
<div class="sliderThree">
    <app-top-course [sliderData]="sliderOneData">
        <h3>Top courses in Development</h3>
    </app-top-course>
</div>
<!-- slider 4 -->
<div class="sliderFour">
    <app-top-course [sliderData]="sliderOneData">
        <h3>Because you enrolled in " <span class="text-primary">Node.js, Express, MongoDB & More: The Complete Bootcamp
                2022</span> "</h3>
    </app-top-course>
</div>
<!-- top-pick -->
<app-top-pick></app-top-pick>
<!-- slider 5 -->
<div class="sliderFive">
    <app-top-course [sliderData]="sliderOneData">
        <h3>People are Viewing</h3>
    </app-top-course>
</div>
<!-- slider 6 -->
<div class="sliderSix">
    <app-top-course [sliderData]="sliderOneData">
        <h3>Newest to Udemy Business</h3>
    </app-top-course>
</div>