.page{
    background-color: rgba(0, 0, 0, 0.884);
}
.body h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.body{
    color: white;
}
.btn{
    background-color: white ;
    border-radius: 0;
    font-weight: bold;
    padding: 1rem;
}